<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Infinite Scroll
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let user of users">
   <ion-item>
    <ion-avatar slot="start">
      <img [src]="user.picture.thumbnail">
    </ion-avatar>
    <ion-label>
      <h2 text-capitalise>{{user.name?.first}} {{user.name?.last}}</h2>
      <p>{{user.email}}</p>
    </ion-label>
   </ion-item>
  </ion-card>
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more users...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
